@import './variable.scss';
@import 'vxe-table/styles/default.scss';
// @import 'vxe-table/styles/variable.scss';
@import 'vxe-table/styles/icon.scss';
@import 'vxe-table/styles/table.scss';
@import 'vxe-table/styles/column.scss';
@import 'vxe-table/styles/header.scss';
@import 'vxe-table/styles/body.scss';
@import './default.scss';
@import 'vxe-table/styles/header.scss';

// 重置，覆盖他们的样式,避免后期和他们重复
.vxe-header--column{
  position: relative !important;
  // font-weight:bold;
  cursor: default;
} 

.vxe-toolbar{
  position: absolute;
  right: 0px;
  top: 74px;
  z-index: 1;
}

.vxe-toolbar1:hover{
  right: 0px;
  padding-right:4px; 
  width: 50px;
  height: 50px;
  z-index: 1;
}

.vxe-toolbar:hover .vxe-icon--menu{
  color: blue;
}
