.mg {
  margin: 0px;
}

.mg-x_0 {
  margin-left: 0px;
  margin-right: 0px;
}

.mg-y_0 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.mg-top_0 {
  margin-top: 0px;
}

.mg-right_0 {
  margin-right: 0px;
}

.mg-bottom_0 {
  margin-bottom: 0px;
}

.mg-left_0 {
  margin-left: 0px;
}

.mg {
  margin: 1px;
}

.mg-x_1 {
  margin-left: 1px;
  margin-right: 1px;
}

.mg-y_1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.mg-top_1 {
  margin-top: 1px;
}

.mg-right_1 {
  margin-right: 1px;
}

.mg-bottom_1 {
  margin-bottom: 1px;
}

.mg-left_1 {
  margin-left: 1px;
}

.mg {
  margin: 2px;
}

.mg-x_2 {
  margin-left: 2px;
  margin-right: 2px;
}

.mg-y_2 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.mg-top_2 {
  margin-top: 2px;
}

.mg-right_2 {
  margin-right: 2px;
}

.mg-bottom_2 {
  margin-bottom: 2px;
}

.mg-left_2 {
  margin-left: 2px;
}

.mg {
  margin: 3px;
}

.mg-x_3 {
  margin-left: 3px;
  margin-right: 3px;
}

.mg-y_3 {
  margin-top: 3px;
  margin-bottom: 3px;
}

.mg-top_3 {
  margin-top: 3px;
}

.mg-right_3 {
  margin-right: 3px;
}

.mg-bottom_3 {
  margin-bottom: 3px;
}

.mg-left_3 {
  margin-left: 3px;
}

.mg {
  margin: 4px;
}

.mg-x_4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mg-y_4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.mg-top_4 {
  margin-top: 4px;
}

.mg-right_4 {
  margin-right: 4px;
}

.mg-bottom_4 {
  margin-bottom: 4px;
}

.mg-left_4 {
  margin-left: 4px;
}

.mg {
  margin: 5px;
}

.mg-x_5 {
  margin-left: 5px;
  margin-right: 5px;
}

.mg-y_5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mg-top_5 {
  margin-top: 5px;
}

.mg-right_5 {
  margin-right: 5px;
}

.mg-bottom_5 {
  margin-bottom: 5px;
}

.mg-left_5 {
  margin-left: 5px;
}

.mg {
  margin: 6px;
}

.mg-x_6 {
  margin-left: 6px;
  margin-right: 6px;
}

.mg-y_6 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.mg-top_6 {
  margin-top: 6px;
}

.mg-right_6 {
  margin-right: 6px;
}

.mg-bottom_6 {
  margin-bottom: 6px;
}

.mg-left_6 {
  margin-left: 6px;
}

.mg {
  margin: 7px;
}

.mg-x_7 {
  margin-left: 7px;
  margin-right: 7px;
}

.mg-y_7 {
  margin-top: 7px;
  margin-bottom: 7px;
}

.mg-top_7 {
  margin-top: 7px;
}

.mg-right_7 {
  margin-right: 7px;
}

.mg-bottom_7 {
  margin-bottom: 7px;
}

.mg-left_7 {
  margin-left: 7px;
}

.mg {
  margin: 8px;
}

.mg-x_8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mg-y_8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mg-top_8 {
  margin-top: 8px;
}

.mg-right_8 {
  margin-right: 8px;
}

.mg-bottom_8 {
  margin-bottom: 8px;
}

.mg-left_8 {
  margin-left: 8px;
}

.mg {
  margin: 9px;
}

.mg-x_9 {
  margin-left: 9px;
  margin-right: 9px;
}

.mg-y_9 {
  margin-top: 9px;
  margin-bottom: 9px;
}

.mg-top_9 {
  margin-top: 9px;
}

.mg-right_9 {
  margin-right: 9px;
}

.mg-bottom_9 {
  margin-bottom: 9px;
}

.mg-left_9 {
  margin-left: 9px;
}

.mg {
  margin: 10px;
}

.mg-x_10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mg-y_10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mg-top_10 {
  margin-top: 10px;
}

.mg-right_10 {
  margin-right: 10px;
}

.mg-bottom_10 {
  margin-bottom: 10px;
}

.mg-left_10 {
  margin-left: 10px;
}

.mg {
  margin: 11px;
}

.mg-x_11 {
  margin-left: 11px;
  margin-right: 11px;
}

.mg-y_11 {
  margin-top: 11px;
  margin-bottom: 11px;
}

.mg-top_11 {
  margin-top: 11px;
}

.mg-right_11 {
  margin-right: 11px;
}

.mg-bottom_11 {
  margin-bottom: 11px;
}

.mg-left_11 {
  margin-left: 11px;
}

.mg {
  margin: 12px;
}

.mg-x_12 {
  margin-left: 12px;
  margin-right: 12px;
}

.mg-y_12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mg-top_12 {
  margin-top: 12px;
}

.mg-right_12 {
  margin-right: 12px;
}

.mg-bottom_12 {
  margin-bottom: 12px;
}

.mg-left_12 {
  margin-left: 12px;
}

.mg {
  margin: 13px;
}

.mg-x_13 {
  margin-left: 13px;
  margin-right: 13px;
}

.mg-y_13 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.mg-top_13 {
  margin-top: 13px;
}

.mg-right_13 {
  margin-right: 13px;
}

.mg-bottom_13 {
  margin-bottom: 13px;
}

.mg-left_13 {
  margin-left: 13px;
}

.mg {
  margin: 14px;
}

.mg-x_14 {
  margin-left: 14px;
  margin-right: 14px;
}

.mg-y_14 {
  margin-top: 14px;
  margin-bottom: 14px;
}

.mg-top_14 {
  margin-top: 14px;
}

.mg-right_14 {
  margin-right: 14px;
}

.mg-bottom_14 {
  margin-bottom: 14px;
}

.mg-left_14 {
  margin-left: 14px;
}

.mg {
  margin: 15px;
}

.mg-x_15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mg-y_15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mg-top_15 {
  margin-top: 15px;
}

.mg-right_15 {
  margin-right: 15px;
}

.mg-bottom_15 {
  margin-bottom: 15px;
}

.mg-left_15 {
  margin-left: 15px;
}

.mg {
  margin: 16px;
}

.mg-x_16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mg-y_16 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.mg-top_16 {
  margin-top: 16px;
}

.mg-right_16 {
  margin-right: 16px;
}

.mg-bottom_16 {
  margin-bottom: 16px;
}

.mg-left_16 {
  margin-left: 16px;
}

.mg {
  margin: 17px;
}

.mg-x_17 {
  margin-left: 17px;
  margin-right: 17px;
}

.mg-y_17 {
  margin-top: 17px;
  margin-bottom: 17px;
}

.mg-top_17 {
  margin-top: 17px;
}

.mg-right_17 {
  margin-right: 17px;
}

.mg-bottom_17 {
  margin-bottom: 17px;
}

.mg-left_17 {
  margin-left: 17px;
}

.mg {
  margin: 18px;
}

.mg-x_18 {
  margin-left: 18px;
  margin-right: 18px;
}

.mg-y_18 {
  margin-top: 18px;
  margin-bottom: 18px;
}

.mg-top_18 {
  margin-top: 18px;
}

.mg-right_18 {
  margin-right: 18px;
}

.mg-bottom_18 {
  margin-bottom: 18px;
}

.mg-left_18 {
  margin-left: 18px;
}

.mg {
  margin: 19px;
}

.mg-x_19 {
  margin-left: 19px;
  margin-right: 19px;
}

.mg-y_19 {
  margin-top: 19px;
  margin-bottom: 19px;
}

.mg-top_19 {
  margin-top: 19px;
}

.mg-right_19 {
  margin-right: 19px;
}

.mg-bottom_19 {
  margin-bottom: 19px;
}

.mg-left_19 {
  margin-left: 19px;
}

.mg {
  margin: 20px;
}

.mg-x_20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mg-y_20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mg-top_20 {
  margin-top: 20px;
}

.mg-right_20 {
  margin-right: 20px;
}

.mg-bottom_20 {
  margin-bottom: 20px;
}

.mg-left_20 {
  margin-left: 20px;
}

.mg {
  margin: 21px;
}

.mg-x_21 {
  margin-left: 21px;
  margin-right: 21px;
}

.mg-y_21 {
  margin-top: 21px;
  margin-bottom: 21px;
}

.mg-top_21 {
  margin-top: 21px;
}

.mg-right_21 {
  margin-right: 21px;
}

.mg-bottom_21 {
  margin-bottom: 21px;
}

.mg-left_21 {
  margin-left: 21px;
}

.mg {
  margin: 22px;
}

.mg-x_22 {
  margin-left: 22px;
  margin-right: 22px;
}

.mg-y_22 {
  margin-top: 22px;
  margin-bottom: 22px;
}

.mg-top_22 {
  margin-top: 22px;
}

.mg-right_22 {
  margin-right: 22px;
}

.mg-bottom_22 {
  margin-bottom: 22px;
}

.mg-left_22 {
  margin-left: 22px;
}

.mg {
  margin: 23px;
}

.mg-x_23 {
  margin-left: 23px;
  margin-right: 23px;
}

.mg-y_23 {
  margin-top: 23px;
  margin-bottom: 23px;
}

.mg-top_23 {
  margin-top: 23px;
}

.mg-right_23 {
  margin-right: 23px;
}

.mg-bottom_23 {
  margin-bottom: 23px;
}

.mg-left_23 {
  margin-left: 23px;
}

.mg {
  margin: 24px;
}

.mg-x_24 {
  margin-left: 24px;
  margin-right: 24px;
}

.mg-y_24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mg-top_24 {
  margin-top: 24px;
}

.mg-right_24 {
  margin-right: 24px;
}

.mg-bottom_24 {
  margin-bottom: 24px;
}

.mg-left_24 {
  margin-left: 24px;
}

.mg {
  margin: 25px;
}

.mg-x_25 {
  margin-left: 25px;
  margin-right: 25px;
}

.mg-y_25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.mg-top_25 {
  margin-top: 25px;
}

.mg-right_25 {
  margin-right: 25px;
}

.mg-bottom_25 {
  margin-bottom: 25px;
}

.mg-left_25 {
  margin-left: 25px;
}

.mg {
  margin: 26px;
}

.mg-x_26 {
  margin-left: 26px;
  margin-right: 26px;
}

.mg-y_26 {
  margin-top: 26px;
  margin-bottom: 26px;
}

.mg-top_26 {
  margin-top: 26px;
}

.mg-right_26 {
  margin-right: 26px;
}

.mg-bottom_26 {
  margin-bottom: 26px;
}

.mg-left_26 {
  margin-left: 26px;
}

.mg {
  margin: 27px;
}

.mg-x_27 {
  margin-left: 27px;
  margin-right: 27px;
}

.mg-y_27 {
  margin-top: 27px;
  margin-bottom: 27px;
}

.mg-top_27 {
  margin-top: 27px;
}

.mg-right_27 {
  margin-right: 27px;
}

.mg-bottom_27 {
  margin-bottom: 27px;
}

.mg-left_27 {
  margin-left: 27px;
}

.mg {
  margin: 28px;
}

.mg-x_28 {
  margin-left: 28px;
  margin-right: 28px;
}

.mg-y_28 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.mg-top_28 {
  margin-top: 28px;
}

.mg-right_28 {
  margin-right: 28px;
}

.mg-bottom_28 {
  margin-bottom: 28px;
}

.mg-left_28 {
  margin-left: 28px;
}

.mg {
  margin: 29px;
}

.mg-x_29 {
  margin-left: 29px;
  margin-right: 29px;
}

.mg-y_29 {
  margin-top: 29px;
  margin-bottom: 29px;
}

.mg-top_29 {
  margin-top: 29px;
}

.mg-right_29 {
  margin-right: 29px;
}

.mg-bottom_29 {
  margin-bottom: 29px;
}

.mg-left_29 {
  margin-left: 29px;
}

.mg {
  margin: 30px;
}

.mg-x_30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mg-y_30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mg-top_30 {
  margin-top: 30px;
}

.mg-right_30 {
  margin-right: 30px;
}

.mg-bottom_30 {
  margin-bottom: 30px;
}

.mg-left_30 {
  margin-left: 30px;
}

.mg {
  margin: 31px;
}

.mg-x_31 {
  margin-left: 31px;
  margin-right: 31px;
}

.mg-y_31 {
  margin-top: 31px;
  margin-bottom: 31px;
}

.mg-top_31 {
  margin-top: 31px;
}

.mg-right_31 {
  margin-right: 31px;
}

.mg-bottom_31 {
  margin-bottom: 31px;
}

.mg-left_31 {
  margin-left: 31px;
}

.mg {
  margin: 32px;
}

.mg-x_32 {
  margin-left: 32px;
  margin-right: 32px;
}

.mg-y_32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mg-top_32 {
  margin-top: 32px;
}

.mg-right_32 {
  margin-right: 32px;
}

.mg-bottom_32 {
  margin-bottom: 32px;
}

.mg-left_32 {
  margin-left: 32px;
}

.mg {
  margin: 33px;
}

.mg-x_33 {
  margin-left: 33px;
  margin-right: 33px;
}

.mg-y_33 {
  margin-top: 33px;
  margin-bottom: 33px;
}

.mg-top_33 {
  margin-top: 33px;
}

.mg-right_33 {
  margin-right: 33px;
}

.mg-bottom_33 {
  margin-bottom: 33px;
}

.mg-left_33 {
  margin-left: 33px;
}

.mg {
  margin: 34px;
}

.mg-x_34 {
  margin-left: 34px;
  margin-right: 34px;
}

.mg-y_34 {
  margin-top: 34px;
  margin-bottom: 34px;
}

.mg-top_34 {
  margin-top: 34px;
}

.mg-right_34 {
  margin-right: 34px;
}

.mg-bottom_34 {
  margin-bottom: 34px;
}

.mg-left_34 {
  margin-left: 34px;
}

.mg {
  margin: 35px;
}

.mg-x_35 {
  margin-left: 35px;
  margin-right: 35px;
}

.mg-y_35 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.mg-top_35 {
  margin-top: 35px;
}

.mg-right_35 {
  margin-right: 35px;
}

.mg-bottom_35 {
  margin-bottom: 35px;
}

.mg-left_35 {
  margin-left: 35px;
}

.mg {
  margin: 36px;
}

.mg-x_36 {
  margin-left: 36px;
  margin-right: 36px;
}

.mg-y_36 {
  margin-top: 36px;
  margin-bottom: 36px;
}

.mg-top_36 {
  margin-top: 36px;
}

.mg-right_36 {
  margin-right: 36px;
}

.mg-bottom_36 {
  margin-bottom: 36px;
}

.mg-left_36 {
  margin-left: 36px;
}

.mg {
  margin: 37px;
}

.mg-x_37 {
  margin-left: 37px;
  margin-right: 37px;
}

.mg-y_37 {
  margin-top: 37px;
  margin-bottom: 37px;
}

.mg-top_37 {
  margin-top: 37px;
}

.mg-right_37 {
  margin-right: 37px;
}

.mg-bottom_37 {
  margin-bottom: 37px;
}

.mg-left_37 {
  margin-left: 37px;
}

.mg {
  margin: 38px;
}

.mg-x_38 {
  margin-left: 38px;
  margin-right: 38px;
}

.mg-y_38 {
  margin-top: 38px;
  margin-bottom: 38px;
}

.mg-top_38 {
  margin-top: 38px;
}

.mg-right_38 {
  margin-right: 38px;
}

.mg-bottom_38 {
  margin-bottom: 38px;
}

.mg-left_38 {
  margin-left: 38px;
}

.mg {
  margin: 39px;
}

.mg-x_39 {
  margin-left: 39px;
  margin-right: 39px;
}

.mg-y_39 {
  margin-top: 39px;
  margin-bottom: 39px;
}

.mg-top_39 {
  margin-top: 39px;
}

.mg-right_39 {
  margin-right: 39px;
}

.mg-bottom_39 {
  margin-bottom: 39px;
}

.mg-left_39 {
  margin-left: 39px;
}

.mg {
  margin: 40px;
}

.mg-x_40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mg-y_40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.mg-top_40 {
  margin-top: 40px;
}

.mg-right_40 {
  margin-right: 40px;
}

.mg-bottom_40 {
  margin-bottom: 40px;
}

.mg-left_40 {
  margin-left: 40px;
}

.mg-auto {
  margin: auto;
}

.mg-auto-x {
  margin-left: auto;
  margin-right: auto;
}

.mg-auto-y {
  margin-top: auto;
  margin-bottom: auto;
}

.mg-auto-top {
  margin-top: auto;
}

.mg-auto-right {
  margin-right: auto;
}

.mg-auto-bottom {
  margin-bottom: auto;
}

.mg-auto-left {
  margin-left: auto;
}
