@import './margin.scss';
@import './width.scss';
@import './height.scss';
@import './position.scss';
@import './text.scss';
@import './overflow.scss';
@import './flex.scss';
@import './padding.scss';
@import './color.scss';
@import './aggregate.scss';

body {
  // font: 16px PingFangSC-Regular, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
  //   Microsoft YaHei, SimSun, sans-serif, HELVETICA;
  background: #fff;
  margin: 0;
  -webkit-text-size-adjust: 100%;
}
/*reset browser scroll style*/
html,
body {
  scrollbar-arrow-color: rgba(209, 213, 219, 1); /**/ /*三角箭头的颜色*/
  scrollbar-face-color: rgba(209, 213, 219, 1); /**/ /*立体滚动条的颜色*/
  scrollbar-3dlight-color: rgba(209, 213, 219, 1); /**/ /*立体滚动条亮边的颜色*/
  scrollbar-highlight-color: rgba(
    209,
    213,
    219,
    1
  ); /**/ /*滚动条空白部分的颜色*/
  scrollbar-shadow-color: rgba(209, 213, 219, 1); /**/ /*立体滚动条阴影的颜色*/
  scrollbar-darkshadow-color: rgba(
    209,
    213,
    219,
    1
  ); /**/ /*立体滚动条强阴影的颜色*/
  scrollbar-track-color: rgba(209, 213, 219, 1); /**/ /*立体滚动条背景颜色*/
  scrollbar-base-color: rgba(244, 245, 249, 1); /**/ /*滚动条的基本颜色*/
}
/* chrome scroll style */
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  background-color: transparent;
}

/*定义滑块*/
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(209, 213, 219, 1);
}
ul li {
  list-style: none;
}
ul, p {
  margin: 0;
  padding: 0;
}

// 父元素positon: relative
.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}