/*
* @ Description:LIS60 CSS STYLE
* @ Author winning
* @ Data 2017-4-1
*/
.left-down{

  z-index: 20;
  width: 237px;
  height: 332px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
  border: 1px solid #d1d1d1;
  /*display: none;*/
}


.left-down>li{
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.left-down>li.active{
	color: #fff;
	background-color: #20a0ff;
}

.sub-active {
  background: lightblue;
}
.left-down>li:hover{
  background-color: #e4e8f1;
}
.left-down>li span{
  float: left;
  width: 66px;
  margin-left: 12px;
  margin-right: 12px;
  /*padding-right: 30px;*/
  border-right: 1px solid #dfdfe1;
}
/*left-menu*/
.left-menu{
  
  left: 0px;

  width: 100%;
  height: 332px;
  overflow-y: auto;
  z-index: 21;
  background: #fff;
  border: 1px solid #d1d1d1;
  /*display: none;*/
}
.left-menu>li{
	height: 30px;
  background: #fff;
  line-height: 30px;
}
.left-menu>li.active a{
	color: #fff;
	background-color: #20a0ff;
}
.left-menu a{
  display: block;
  width: 23%;
  padding-left: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
}
.left-menu a:hover{
	color: #fff;
	background-color: #e4e8f1;
}
.left-menu>li.active .dictype{
  color: #fff;
  background-color: #20a0ff;
}
.left-menu .dictype{
  display: block;
  width: 64px;
  padding-left: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #000;
}
.left-menu .dictype:hover{
  color: #fff;
  cursor:default;
  background-color: #e4e8f1;
}

.left-menu .dictype:hover{
  color: #fff;
  cursor:normal;
  background-color: #e4e8f1;
}
.left-menu>li.active ul{
	left: 64px;
}
.left-menu li:hover>ul{
  left: 64px;
  z-index: 21;
}
.left-menu ul{

  /*left: 95px;*/
  left: -1000px;
  top: 0px;
  width: calc(100% - 64px);
  height: 213px;
  background-color: #fff;
}


.sub-menu{

  z-index: 20;
  width: 237px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.2)
}
.sub-menu>li{
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.sub-menu>li:hover{
  background-color: #e4e8f1;
}
.sub-menu>li span{
  float: left;
  width: 66px;
  margin-left: 12px;
  margin-right: 12px;
  /*padding-right: 30px;*/
  border-right: 1px solid #dfdfe1;
}


/*left-top*/
.left-t{
  height: 46px;
  background: #fff;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #dfdfe0;
}
.left-t li{
  position: relative;
  float: left;
  height: 100%;
}
.left-t li:nth-child(2){
  border-left:1px solid #dfdfe0;
  border-right:1px solid #dfdfe0;
}
.left-t1{
  text-align: center;
}
.left-t1 input{
  width:70%;
  margin-top: 10px;
  padding: 2px 5px;
  color: #000;
  text-align: center;
  font-size: 14px;
  border:none;
}
.left-t1 i{
  position: absolute;
  top: 19px;
  width:0;
  height:0;

}
.left-t1 i:hover{
  cursor: pointer;
}
.left-t1 i.open{
  cursor: pointer;
}
.left-t2{
  text-align: center;
}
.left-t2 input{
  width:95%;
  margin-top: 10px;
  padding: 2px 5px;
  color: #000;
  font-size: 14px;
  text-align: center;
  border:none;
}
.left-3{
  text-align: center;
}
.left-3 i{
  display: inline-block;
	width: 45px;
	height: 30px;
	color: #666;
	margin-top: 9px;
	cursor: pointer;
	font-size: 25px;
}
.left-3 i:hover{
	color: #3171f9;
}
.left-s{
  position: relative;
}
.left-s>input{
  width: 100%;
  padding: 9px 0;
  border: none;
  text-align: center;
  background-color: #ebeaec;
}
.left-s>input:focus{
	-moz-box-shadow:0px 3px 12px #0e6ecc;
 -webkit-box-shadow:0px 3px 12px #0e6ecc;
 box-shadow: 0px 3px 12px #0e6ecc;
}
.left-s>span{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: #8f8f90;
  z-index: 10;
}
.left-s>span i{
  margin-right: 10px;
  color: #c1c1c2;
}
/*left-middle*/
.left-m{
  overflow-y: auto;
}
.slide-cnt{
  position: absolute;
  top:80px;
  left: -410px;
  bottom: 55px;
  width: 360px;
  z-index: 10;
  line-height: 40px;
  background: #f5f5f7;
  /*transition: all 1s ease;*/
  overflow: auto;
}
.slide-cnt>div{
  float: right;
  width: 25%;
  text-align: center;
  border-left: 1px solid #eeeeef;
}
.slide-cnt>div>i{
  display: inline-block;
  width: 37px;
  font-size: 12px;
}
.slide-cnt>div>i:hover{
  color: #00a4ff;
  cursor: pointer;
}
.slide-cnt dl>* {
  float: left;
  margin-left: 7%;
}
.slide-cnt dl{
  color: #000;
  font-weight: 700;
  background-color: #fafafc;
  border-bottom: 1px solid #e8e8ea;
}
.slide-cnt ul{
  line-height:normal;
}
.slide-cntUl input.select-input{
	background-color: #fff !important;
}
.slide-cntUl .selec-age{
	position: absolute;
	top: 4px;
	left: 76%;
	border: none;
}
.slide-cnt ul li{
	position: relative;
}
.slide-cnt li{
  margin-top: 10px;
  margin-left: 2%;
}
.slide-cnt li>input{
  width: 60%;
  margin-top: -1px;
  padding: 2px 5px;
  border: none;
  background-color: transparent;
}
.slide-cnt li:hover>input{
  background-color: #fff;
}
.slide-cnt li>span{
  display: inline-block;
  width: 90px;
  margin-right: 10px;
  line-height: 24px;
  text-align: right;
  /*word-spacing: 20px;*/
}
.data-nll{
	position: relative;
	height: 100%;
	background-color:rgba(255,255,255,.95);
}
.data-nll>div{
	position: absolute;
	top:50%;
	left:50%;
	width: 183px;;
	transform: translate(-50%,-50%);
}
.data-nll>div p{
	color: #666666;
	font-size: 14px;
	text-align: center;
}
.data-nll-btn span{
	display: inline-block;
	width: 80px;
  height: 30px;
  margin-top: 20px;
  line-height: 30px;
  border:1px solid rgb( 204, 204, 204 );
  background-image: -webkit-linear-gradient( 90deg, rgb(230,230,230) 0%, rgb(255,255,255) 100%);
	color: #000;
	cursor: pointer;
	border-radius: 3px;
	text-align: center;
}
.left-m1{
  margin-top: 5px;
  line-height: 40px;
  border-radius: 6px;
  color:#000;
  transition: all 1s ease;
  background-color: rgba(255,255,255,.95);
  cursor: pointer;
}
.left-m1 li.state,.left-m1.active li.biji{
  display: block;
}
.left-m1.active li.state,.left-m1 li.biji{
  display: none;
}
.left-m1.active>dl{
  background: #fff;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid #eeeeef;
}
.left-m1.active>dl:hover{
  cursor: pointer;
}
.left-m1.active ul.left-m12{
  border-left: 1px solid #eeeeef;
}
.left-m1 ul.left-m13{
	overflow: hidden;
  line-height: normal;
  opacity: 0.95;
}
.left-m11>*{
  float: left;
  width: 14%;
  height:40px;
	text-align: center;
}
.left-m11:hover{
  background: #fff;
  border-radius: 6px;
}
.left-m11 dt img{
  margin-top: -5px;
}
.left-m11 dd span{
	width: 100%;
	height: 100%;
	float: left;
	line-height: 40px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.left-m11{
	border-left: 6px solid transparent;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.left-m11.chked{
  border-left-color: #33ba05;
}
.left-m11.radios{
	color:#fff !important;
  background-color:#20a0ff;
  border-radius: 4px;
}
.left-m11.radios i{
	color:#fff !important;
}
.light .left-m12 span{
	color:#fff;
}
.left-m12{
  float: right;
  width: 25%;
}
.left-m12>li{
  float: right;
  width: 100%;
  text-align: center;
}
.left-m12>li>span{
  display: inline-block;
  width: 12px;
  margin-right: 20%;
}
.left-m12>li>i{
	display: inline-block;
	width: 35px;
  font-size: 12px;
}
.left-m12>li>i:hover{
  color: #00a4ff;
  cursor: pointer;
}
.color-0f6{
	color: #0f6eca;
}

.color-d43{
	color: #d43fea;
}

.wei{
  color:#da1616;
}
.selected .shen{
  color:#fff;
}
.shen{
  color:#05b509;
}
.selected .yin{
  color:#fff;
}
.yin{
  color:#1774ff;
}
.selected .fa{
  color:#fff;
}
.fa{
	color:blue;
}

.left-m13 li{
  margin-top: 5px;
  margin-left: 2%;
}
.left-m13 li>span{
  display: inline-block;
  width: 90px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 5px;
}
.left-m13 li input{
  width: 60%;
  padding: 2px 5px;
  border: none;
  background-color: transparent;
}


.pro-bar {
  position: relative;
  width: 80%;
  height: 40px;
  margin: 10px auto;
}
.pro-bar .line{
  margin-top: 30px;
  border-bottom: 1px solid #c5c4c6;
}
.pro-bar dl{
  display: inline-block;
  width:24%;
  float: left;
  margin-top: -15px;
  text-align: center;
}

.pro-bar dt{
  display: inline-block;
  width: 26px;
  height: 26px;
  margin-bottom: 10px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
}
.pro-bar dd{
  color: #000;
}
.pro-bar dd span{
  margin-right: 3px;
  color: #3071f6;
}
/*未超时*/
.wc{
  background-color: #81bc24;
}
/*即将超时*/
.jj{
  background-color: #f7931e;
}
/*已超时*/
.yc{
  background-color: #DA1616;
}
/*未进行*/
.wj{
  background-color: #b3b3b3;
}
/*left-bottom*/
.left-b{
  margin-top: 5px;
  overflow: hidden;
  background-color: #f2f3f4;
}
.left-b li{
  float: left;
  width: 20%;
  padding: 8px 0px;
  text-align: center;
}
.left-b li.active *,.left-b li:hover *{
  color: #1589ff;
}
.left-b li.active span,.left-b li:hover span{
  color: #fff;
}
.left-b li a,.left-b li i{
  display: block;
}
.left-b li a{
  position: relative;
  color: #000;
  text-decoration: none;
}
.left-b li span{
  position: absolute;
  top: -6px;
  left: 48px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #da1616;
}

.left-b li i{
  padding-bottom:5px;
  color: #797979;
}
/*right*/
.content>.right{
  position: relative;
  background-color: rgba(255,255,255,.95);
}
/*right-top*/
.right-t{
  height: 46px;
  line-height: 46px;
  border-bottom:1px solid #d1d1d1;
}
.right-tl{
  position: relative;
  float: left;
}
.right-tl>*{
  float: left;
  color: #666;
}
.right-tl dt{
  margin:0px 32px 0px 15px;
}
.right-tl dt i{
  position:absolute;
  top: 5px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  background-color: #da1616;
}
.right-tl dd{
  margin-right: 15px;
}
.right-tl dd i{
  margin-right: 5px;
}
.right-tr{
  position: relative;
  float: right;
  margin-right: 25px;
}
.right-tr li{
  float: left;
  margin-left: 35px;
}
.right-tr li i{
  font-size: 20px;
}
.right-tr li i:hover{
  cursor: pointer;
  color: #005fed;
}
.right-m{
  /*width: 100%;*/
  /*height: 90%;*/
  /*overflow-y: auto;*/
  position: absolute;
  width: 100%;
  left: 0;
  top: 45px;
  bottom: 50px;
}
.right-m>div{
  float: left;
  width: 50%;
  height: 100%;
  margin-top: -2px;
}
.right-ml{
	overflow: hidden;
  border-right:1px solid #d7d7d7;
  height: 100%;
}
.right-mr{
  margin-top: -3px !important;
}
.right-m table{
  color: #000000;
}
/*.right-m tr{
	transition: all .1s linear;
}*/
.right-m tr:hover{
  cursor: pointer;
  background: #fff;
}
.star{
  vertical-align: initial;
  margin-right: 5px;
}
.danger{
  padding: 2px 10px;
  color: #fff;
  border-radius: 10px;
  background: #da1616;
}
.col-da{
  color: #da1616;
  font-weight: bold;
}
.col-00{
  color:#005fed;
  font-weight: bold;
}
.right-m table th,.right-m table td{
  text-align: center;
  border-bottom: 1px solid #eaeaeb;
}
.right-b{
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 46px;
  line-height: 46px;
}
.right-b li{
  float: left;
}
.right-bl li{
  margin-left: 30px;
  line-height: 46px;
}
.right-br{
  float: right;
}
.right-br li{
  position: relative;
  margin-right: 54px;
}
.right-br li i{
  position: absolute;
  top:5px;
  margin-left: 2px;
  min-width: 42px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  border-radius: 10px;
  color: #fff;
  background-color: #005fed;
  -webkit-transform: scale(0.85);
}

/*sidebar*/
.sidebar{
  position: fixed;
  right: 18px;
  bottom:69px;
  width: auto;
  z-index: 1000;
}.sidebar ul{
   position: absolute;
   width:auto;
   bottom: 40px;
   right: 0px;
 }
.sidebar ul:hover a{
  background-color: rgba(72,72,72,.7);
}
.sidebar ul li{
  overflow: hidden;
  margin-bottom: 4px;
  transition: all 0.4s ease-out;
  /*opacity: 1;*/
}

/*旋转*/
.swing {
  perspective: 100px;
}

.swing li, .swing dd{
  opacity: 0;
  transform: rotateY(-90deg);
  transition: all 1s cubic-bezier(.36,-0.64,.34,1.76);
}
.swing li.disshow,.swing dd.disshow {
  opacity: 1;
  transform: none;
  transition: all 1s cubic-bezier(.36,-0.64,.34,1.76);
}
.sidebar ul li:hover a{
  width: auto;
  background-color: #0067fe;
}
.sidebar ul li span{
  display: inline-block;
  width: 0px;
  overflow: hidden;
  transition: all .2s ease;
}
.sidebar ul li:hover span{
  width: auto;
  margin: 0px 13px;
}

.sidebar a{
  float: right;
  display: block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  transition: all .1s linear;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(72,72,72,.7);
}
.sidebar  a:hover{
  cursor: pointer;
  text-decoration: none;
}
.sidebar ul i{
  float: right;
  margin-right: 9px;
}
.sbar-t1 a{
  background-color: rgba(72,72,72,.2);
}
.sbar-t2{
  overflow: hidden;
  margin-bottom: 4px;
}
.sbar-t2 a{
  float: right;
}
.sbar-t3{
  overflow: hidden;
}
.sbar-t3>*{
  float: right;
  margin-left: 4px;
}
.sbar-t3 dd a{
  display:block;
  width: 60px;
  height: 36px;
  line-height: 36px;
  color: #fff;
  border-radius: 6px;
}

/*menu*/
.menu {
  position: fixed;
  top:60px;
  right: -200px;
  z-index: 1002;
  width: 200px;
  background-color:#324157;
  transition: all 1s ease;
}
.menu.out{
  right: 0px;
}
.menu .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 30px;
  color: #bfcbd9;
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #bfcbd9;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu li i.icon-xxjt {
  right: 12px;
  left: auto;
  font-size: 16px;
}
.menu li.open .link {
  color: #20a0ff;
}
.menu li.open i {
  color: #20a0ff;
}
.menu li.open i.icon-xxjt {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.submenu {
  display: none;
  background: #1f2d3d;
  font-size: 14px;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}
.submenu a {
  display: block;
  text-decoration: none;
  color: #bfcbd9;
  font-size: 14px;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #00a4ff;
  color: #FFF;
}
.splitLine{
	position: absolute;
  top:0;
  left: 77px;
  height: 100% !important;
  border-left: 1px solid #dfdfe1;
}
/*footer*/
.footer{

}

/*1366*/
@media screen and (max-width: 1366px) {
  .content>.left{
    width: 290px;
  }
  .slide-cnt{
    width: 290px;
  }
  .content>.right{
    /*margin-left: 308px;*/
  }
  .left-m11>*,.slide-cnt dl>* {
    float: left;
  }
  .pro-bar dl {
    width: 23%;
  }
  .left-m12>li>i{
  	width: 28px;
  }
  .left-menu ul{
  	width: 195px;
  }
  .left-menu .dictype{
  	width: 94px;
  }
  .left-b li span{
  	left: 35px !important;
  }
  .pro-bar {
  	width:96%;
  }
  .slide-cnt>div>i{
  	width: 35px;
  }
  .guid-cnt>span{
  	width: 362px;
  }
}
/*网站说明*/
.guide-mask,.guid-cnt{
	position: fixed;
	top:0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: none;
}
.guide-mask{
	z-index: 10001;
	background: #000;
	opacity: 0.55;
}

.guid-cnt{
	z-index: 10002;
}
.guid-cnt>span{
	position: absolute;
	top: 60px;
	left: 18%;
	width: 420px;
	cursor: pointer;
}
.guid-cnt>span img{
	width: 100%;
}
/*1024*/
@media screen and (max-width: 1024px) {
  /**/
  .content>.left{
    width: 290px;
  }
  .content>.right{
  }
  .right-tl dt {
    margin: 0px 15px 0px 15px;
  }
  .pro-bar dl {
    width: 23%;
  }
  .right-tl dd {
    margin-right: 12px;
  }
  .right-tr li {
    margin-left: 16px;
  }
  .right-tr {
    margin-right: 5px;
  }
  .right-bl li {
    margin-left: 20px;
  }
  .right-br li {
    margin-right: 40px;
  }
}



