/*
* @ Description:LIS60 CSS STYLE
* @ Author winning
* @ Data 2017-4-1
*/


/*common*/

body {
	font-family: "Microsoft YaHei";
	/* font-family: "Source Han Serif SC","PingFang SC","Microsoft YaHei,Arial, sans-serif"; */
	/* background: url(../image/bg.jpg) no-repeat; */
	background:rgba(234,237,244,1);
	background-size: cover;
  overflow: hidden;
}

::-webkit-input-placeholder {
	/* WebKit browsers */
	color: #aaa !important;
}

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #aaa !important;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #aaa !important;
}

:-ms-input-placeholder {
	/* Internet Explorer 10+ */
	color: #aaa !important;
}


/*---仅chrome--*/

::-webkit-scrollbar-thumb {
	background-color: #bcbcbc;
	height: 50px;
	outline-offset: -2px;
	outline: 1px solid #fff;
	-webkit-border-radius: 4px;
	border: 1px solid #fff;
}
.fade-scroll::-webkit-scrollbar-thumb{
  /* overflow: hidden !important; */
  background:rgba(153,153,153,.2);
}
.fade-scroll:hover::-webkit-scrollbar-thumb{
  background:rgba(153,153,153,1);
}

/*---鼠标点击滚动条显示样式--*/

::-webkit-scrollbar-thumb:hover {
	height: 50px;
	background-color: #a0a0a0;
	-webkit-border-radius: 4px;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}


::-webkit-scrollbar-track-piece {
	background-color: transparent;
	-webkit-border-radius: 0;
}


/*common*/

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

/*width*/

.w54 {
	width: 54px;
}

.w110 {
	width: 110px;
}

.w128 {
	width: 128px;
}

.wp18 {
	width: 18%;
}

.wp38 {
	width: 38%;
}

.wp44 {
	width: 44%;
}

/*header*/

.header {
	height: 60px;
	padding: 0px 8px;
	background-color: transparent !important;
}

.nav-l {}

.header>img {
	float: left;
	margin: 13px 18px 13px 12px;
}

.nav-l li {
	float: left;
	text-align: center;
}

.nav-l li a {
	display: block;
	padding: 0px 25px;
	line-height: 60px;
	color: #a4a5aa;
	font-size: 16px;
	font-family: "Microsoft YaHei";
	text-decoration: none;
}

.router-link-active {
	color: #fff!important;
}

.nav-r {
	position: relative;
	float: right;
	margin-right: 18px;
	color: #fff;
}

.nav-r input {
	width: 150px;
	height: 26px;
	padding: 0px 20px 0px 30px;
	color: #cccdd0;
	border: 1px solid #313b59;
	border-radius: 3px;
	/*background: transparent url(../image/sosu.png) no-repeat 10px center;*/
	background-color: transparent;
	transition: all 1s ease;
}

/** 通用的交互动画效果，600ms*/
.trans600{
  transition: all 600ms ease;
}
.nav-r i:hover,
.nav-r i.active {
	color: #00a4ff;
}

.nav-r input:hover {
	width: 200px;
	border-color: #00a4ff;
}

.yuyi {
	position: absolute;
	top: 3px;
	right: 10px;
	z-index: 2;
}

.toxi {
	padding-left: 28px;
	/*background: url(../image/toxi.png) no-repeat 2px center;*/
}

.nav-r li {
	position: relative;
	float: left;
	margin-left: 25px;
	line-height: 60px;
}

/* state */
.dangerous{
  color: #f00;
}

  /*content*/

.content {
	height:100%;
}

.content>div {
	height: 100%;
	overflow: hidden;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}


/*left*/

.content>.left {
	position: relative;
	float: left;
	width: 360px;
	margin:0;
}


/*right*/

.test {
	border: 1px solid red;
	box-sizing: border-box;
}

.back {
	background: red;
}

.wp-5 {
	width: 5%;
}

.wp-8 {
	width: 8%;
}

.wp-12 {
	width: 12%;
}

.wp-14 {
	width: 14%;
}

.wp-15 {
	width: 15%;
}

.pt{
	cursor: pointer;
}
.common-table	.el-table th:not(:first-child) .cell, .common-table .el-table tr>td:not(:first-child) .cell {
		padding-left: 5px!important;
		padding-right: 5px!important;
	 }


/*样本跟踪对话框样式*/
.ybgz-dialog .el-dialog__header{
  background: none;
	padding: 13px 20px 27px !important;
}
.ybgz-dialog .el-dialog__body{
  background: none;
	padding :0 !important;
	height: calc(100% - 40px);
}
.ybgz-dialog .el-table div.cell,.ybgz-dialog .el-table th>div{
  padding:0 18px !important;
}
/*条码查询对话框*/
.barcode-query-dialog .el-dialog{
  border-radius: 4px;
  overflow: hidden;
}
.barcode-query-dialog .el-dialog__header{
  background: url(../image/bg.jpg) center top no-repeat;
}
.barcode-query-dialog .el-dialog__body{
  padding:0 !important;
  height:calc(100% - 36px)
}
/*通用dialog弹框*/
.common-dialog .el-dialog{
  border-radius: 4px;
  overflow: hidden;
}
.common-dialog .el-dialog__header{
  background: url(../image/bg.jpg) center top no-repeat;
}
.common-dialog .el-dialog__body{
	background: #fff;
	padding: 10px !important;
}
.common-dialog .el-dialog__footer{
	background: #fff;
	padding: 10px;
}
/* 单行高度为30px的表格 */
.short-table td,.short-table th{
	height: 30px;
}
/*门诊采集和住院采集通用样式*/
.zycj-button .left b{
  padding: 0 5px;
  color: #f00;
  font-size: 16px;
  font-weight: 600;
}
.zycj-content-date input.el-input__inner{
  height: 22px;
}
div.zycj-popover-reset{
	padding: 0 !important;
}
.zycj-popover-reset .subMenu {
  z-index: 2;
  width: 120px;
  max-height: 200px;
  line-height: 2;
  background: #fff;
  overflow-y: auto;
}
.zycj-popover-reset .subMenu p {
  padding: 0 5px;
}
.zycj-popover-reset .subMenu p:hover{
   color: #fff;
   background: #20a1ff;
}

@media screen and (min-width: 1366px){
  .ybgz-dialog .el-dialog--large{
    width :1200px !important;
    height :700px !important;
  }
}

@media screen and (max-width: 1366px){
  .ybgz-dialog .el-dialog--large{
    width :960px !important;
    height :560px !important;
  }
}
/*
* 从右侧滑入动画
* eg: <transition name="left"></transition>
*/
.left-enter-active, .left-leave-active {
  transition: transform .5s;
}
.left-enter, .left-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  transform:translateX(2000px);
}
/*
* 从左侧滑入动画
* eg: <transition name="right"></transition>
*/
.right-enter-active, .right-leave-active {
  transition: transform .5s;
}
.right-enter, .right-leave-to /* .fade-leave-active in below version 2.1.8 */ {
  transform:translateX(-1000px);
}
/*
* 路由旋转动画
* eg: <transition name="name=swing"></transition>
*/
.swing-enter-active, .swing-leave-active {
		transition: all 1s cubic-bezier(.36,-.64,.34,2.5);
}
.swing-enter, .swing-leave-to {
		transform: rotateY(-90deg);
		opacity: 0;
}

/*
* 报告状态水印样式
*
*/
.public-print{
	background : url(../image/reportstatus/public-print.png) center center no-repeat;
}
.public-nonprint{
	background : url(../image/reportstatus/public-nonprint.png) center center no-repeat;
}
.verify-print{
  background : url(../image/reportstatus/verify-print.png) center  center no-repeat;
}
.verify-nonprint{
  background : url(../image/reportstatus/verify-nonprint.png) center center no-repeat;
}

/*报告状态对应颜色*/
.b-color{
  color:blue
}
.r-color{
  color:#f00
}
.g-color{
  color:green
}
.y-color{
	color:#fbb105

}
i{
  cursor: pointer;
}
.not-allowed{
  color:#999;
  cursor :not-allowed !important
}
/* link-lable */
.link-lable {
  cursor :pointer;
  color:blue;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.link-lable:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: blue;
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.link-lable:hover:before, .link-lable:focus:before, .link-lable:active:before {
  right: 0;
}
.link-lable:active:before {
  right: 0;
  background: #993333;
}

.link-lable-disable {
    vertical-align: middle;

    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    text-decoration :underline;
    cursor :normal;
  }



.icon-control:hover i.iconfont{

	/* animation-name:fucks;
	animation-duration:0.5s;
	animation-direction:alternate;
	animation-iteration-count:2; */
	transform:scale(1.25) rotate(12deg);
	color:blue !important;

}

.icon-control:active i.iconfont{
	color:#993333 !important;
	transform : scale(1.15);
}

.icon-control-normal:hover i.iconfont{
    user-select:none;
	/* animation-name:fucks;
	animation-duration:0.5s;
	animation-direction:alternate;
	animation-iteration-count:2; */
	transform:scale(1.1);
	color:blue !important;
}

.icon-control-normal:active i.iconfont{
    user-select:none;
	color:#993333 !important;
	transform : scale(0.9);
}

.hover-xz360:hover .iconfont {
    animation: xz360 5s linear .2s;
    display:inline-block;
    widows: auto;
    transform-origin: center;

    animation-iteration-count: infinite;
}
.font-txm, .font-txm .el-input__inner{
	font-size : 16px !important;
	font-weight:700 !important;
}
@keyframes xz360{
    from {
        transform-origin:50% 50%;/*定义动画的旋转中心点*/
        transform: rotate(0) scale(1.1) ;
    }

    to{
        transform-origin:50% 50%;/*定义动画的旋转中心点*/
        transform: rotate(360deg) scale(1.1);
    }
}

.el-message{
	z-index:100000!important;
}


.publicDialog .el-dialog__wrapper{
	overflow: hidden;
}
.publicDialog .el-dialog{
	border-radius: 4px;
	padding-bottom: 60px;
	min-height: 96px;
	height: 70%;
	overflow: hidden;
}
.publicDialog .el-dialog__header{
  background: url(../image/bg.jpg) center top no-repeat;
}
.publicDialog .el-dialog .el-dialog__body{
	height: calc(100% - 36px);
	background: #fff;
  overflow-y: auto;
}
.publicDialog .el-dialog__footer{
	background: #fff;
}
.publicDialog .el-dialog .dialogBottom{
	position: absolute;
  bottom: 15px;
  right: 15px;
}

/*
@keyframes fucks{
	from{transition:0.2s ease-out}
	to{transform:scale(1.3) rotate(0)}
} */

/* iconfont通过svg方式引入 默认样式*/
.icon {
	width: 20px;
	height: 20px;
	fill: currentColor;
	overflow: hidden;
}
.smallTable th, .smallTable td{
	height: 30px;
}
.smallTable .cell{
	padding: 0 3px;
}
.smallTable thead th:first-child .cell,
.smallTable tbody tr td:first-child .cell {
	padding-left: 10px!important;
}
  