
/*color && background*/
.color-white{
	color: #ffffff !important;
}
.bg-white{
	background: #ffffff;
}
.col-red{
	background: #cc0000;
}
.col--red{
	color: #cc0000;
}
.col-blue{
	background: #0000ff;
}
.col--blue{
	color: #0000ff;
}
.col-green{
	background: #00ff00;
}
.col--green{
	color: #00ff00;
}
.col-yellow{
	background: #ffff00;
}
.col--yellow{
	color: #ffff00;
}
.col-main{
	background: #20a0ff;
}
.col--main{
	color: #20a0ff;
}
.col-maroon{
	background: maroon;
}
.col--maroon{
	color: maroon
}
.col-gray{
	background: #696969
}
.col--gray{
	color: #696969
}
.col-skyblue{
	background: #87ceeb
}
.col--skyblue{
	color: #87ceeb
}
/*cursor  目前只设置小手状态*/
.pointer{
	cursor: pointer;
	
}
.pointer:hover{
	opacity: 0.85;
}

/*超出不换行 。。。*/
.ellipsis{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*display 目前只设置行内块状元素*/
.inlB{
	display: inline-block!important;
	font-size: 12px;
}

/*font-size*/
.font-12{
	font-size: 12px;
}
.font-14{
	font-size: 14px;
}
.font-16{
	font-size: 16px;
}
.font-18{
	font-size: 18px;
}
.font-20{
	font-size: 20px;
}

/*position*/
.ab{
	position: absolute;
}
.re{
	position: relative;
} 
.fx{
  position: fixed;
}

/*text-align*/
.text-center{
	text-align: center;
}

.text-left{
	text-align: left;
}

.text-right{
	text-align: right;
}

/*float 因浮动导致的高度塌陷，自行处理，.clear在reset.css已经定义*/
.fl{
	float: left;
}

.fr{
  float: right;
}

/*vertical-align*/
.vm{
  vertical-align: middle;
}

.vt{
	vertical-align: top;
}

.vb{
	vertical-align: bottom;
}

/*font-weight 加粗*/
.bold{
	font-weight: bold;
}
/*underline*/
.underline{
	text-decoration: underline;
}
/*隐藏， 主要用于调试*/
.hide {
	display: none;
}

/*超出隐藏*/
.over-hide{
	overflow: hidden;
}

.border{
	border:1px solid #999;
}
.radius{
	border-radius: 6px;
}

/*margin-top*/

.mt-5 {
	margin-top: 5px;
}
.mt-10 {
	margin-top: 10px;
}
.mt-15 {
	margin-top: 15px;
}
.mt-20 {
	margin-top: 20px;
}

/*margin-left*/

.ml-5 {
	margin-left: 5px;
}
.ml-10 {
	margin-left: 10px;
}
.ml-15 {
	margin-left: 15px;
}

.ml-20 {
	margin-left: 20px;
}


/*margin-bottom*/

.mb-5 {
	margin-bottom: 5px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-15 {
	margin-bottom: 15px;
}
.mb-20 {
	margin-bottom: 20px;
}


/*margin-right*/

.mr-5 {
	margin-right: 5px;
}
.mr-10 {
	margin-right: 10px;
}
.mr-15 {
	margin-right: 15px;
}
.mr-20 {
	margin-right: 20px;
}

/*margin*/
.m-5 {
	margin: 5px;
}
.m-10 {
	margin: 10px;
}
.m-15 {
	margin: 15px;
}
.m-20 {
	margin: 20px;
}

/*padding*/
.p-5{
	padding: 5px;
}
.p-10{
	padding: 10px;
}
.p-15{
	padding: 15px;
}
.p-20{
	padding: 20px;
}

/*padding-top*/
.pt-5{
	padding-top: 5px;
}
.pt-10{
	padding-top: 10px;
}
.pt-15{
	padding-top: 15px;
}
.pt-20{
	padding-top: 20px;
}

/*padding-left*/
.pl-5{
	padding-left: 5px;
}
.pl-10{
	padding-left: 10px;
}
.pl-15{
	padding-left: 15px;
}
.pl-20{
	padding-left: 20px;
}

/*padding-right*/
.pr-5{
	padding-right: 5px;
}
.pr-10{
	padding-right: 10px;
}
.pr-15{
	padding-right: 15px;
}
.pr-20{
	padding-right: 20px;
}

/*padding-bottom*/
.pb-5{
	padding-bottom: 5px;
}
.pb-10{
	padding-bottom: 10px;
}
.pb-15{
	padding-bottom: 15px;
}
.pb-20{
	padding-bottom: 20px;
}

/*autoResize*/
.minBlock{
	overflow-x: auto;
	position: relative;
}
.minBlock .slider{
	cursor: col-resize;
	width: 4px;
	height: 100%;
	top: 0;
	border-radius: 2px;
	z-index: 1000;
}
.minBlock .slider1{
	margin-left: -2px;
}
.minBlock .slider2{
	margin-right: -2px;
}
/* win-design */
.w-checkbox__inner:after{
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

    

